---
import Layout from "../layouts/Layout.astro";
import data from "../data.json";
import Card from "../components/Card.astro";
const path = import.meta.env.PUBLIC_URL;
---

<Layout isMain={false}>
    <div class="hero hero--coffee" id="top">
        <div class="hero__container">
            <h2 class="hero__title">Coffee & Tea</h2>
            <p class="hero__desktop-desk">Electrolux offers a diverse range of product lines, spanning from Cook to
                Care, catering to every aspect of enhancing your home. Electrolux, tailored for passionate home
                enthusiasts, boasts luxurious design coupled with all the professional-grade features that discerning
                users desire.</p>
        </div>
    </div>
    <div class="hero-mobile-desc">
        <p>Electrolux offers a diverse range of product lines, spanning from Cook to
            Care, catering to every aspect of enhancing your home. Electrolux, tailored for passionate home
            enthusiasts, boasts luxurious design coupled with all the professional-grade features that discerning
            users desire.
        </p>
        <div class="divider"></div>
    </div>

    <section class="sub" id="kettles">
        <div class="sub__container">
            <h2 class="sub__title">Kettles</h2>
            <p class="sub__desc">Electrolux offers a diverse range of product lines, spanning from Cook to Care,
                catering to every aspect of enhancing your home. Electrolux, tailored for passionate home enthusiasts,
                boasts luxurious design coupled with all the professional-grade features that discerning users
                desire.
            </p>
            <ul class="sub__list">
                {data.filter((item) => item.category === "Coffee and Tea" && item.subcategory === "Kettles").map((item) => (
                        <Card item={item}></Card>
                ))}
            </ul>

        </div>
    </section>

    <section class="sub" id="coffee-makers">
        <div class="sub__container">
            <h2 class="sub__title">Coffee Makers</h2>
            <p class="sub__desc">Electrolux offers a diverse range of product lines, spanning from Cook to Care,
                catering to every aspect of enhancing your home. Electrolux, tailored for passionate home enthusiasts,
                boasts luxurious design coupled with all the professional-grade features that discerning users
                desire.
            </p>
            <ul class="sub__list">
                {data.filter((item) => item.category === "Coffee and Tea" && item.subcategory === "Coffee Makers").map((item) => (
                        <Card item={item}></Card>
                ))}
            </ul>

        </div>
    </section>

    <section class="sub" id="espresso-makers">
        <div class="sub__container">
            <h2 class="sub__title">Espresso Makers</h2>
            <p class="sub__desc">Electrolux offers a diverse range of product lines, spanning from Cook to Care,
                catering to every aspect of enhancing your home. Electrolux, tailored for passionate home enthusiasts,
                boasts luxurious design coupled with all the professional-grade features that discerning users
                desire.
            </p>
            <ul class="sub__list">
                {data.filter((item) => item.category === "Coffee and Tea" && item.subcategory === "Espresso Makers").map((item) => (
                        <Card item={item}></Card>
                ))}
            </ul>

        </div>
    </section>

    <section class="sub" id="grinders">
        <div class="sub__container">
            <h2 class="sub__title">Grinders</h2>
            <p class="sub__desc">Electrolux offers a diverse range of product lines, spanning from Cook to Care,
                catering to every aspect of enhancing your home. Electrolux, tailored for passionate home enthusiasts,
                boasts luxurious design coupled with all the professional-grade features that discerning users
                desire.
            </p>
            <ul class="sub__list">
                {data.filter((item) => item.category === "Coffee and Tea" && item.subcategory === "Grinders").map((item) => (
                        <Card item={item}></Card>
                ))}
            </ul>

        </div>
    </section>


</Layout>
