---
import Layout from '../layouts/Layout.astro'
const path = import.meta.env.PUBLIC_URL;
---

<Layout isMain={true}>
    <section class="intro" id="top">
        <div class="intro__container">
            <h1>For better living</h1>
            <a href="#promo">
                <i>SEE ALL PRODUCTS</i>
                <img src=`${path}assets/img/Arrow.svg` width="24"
                     height="24" alt="">
            </a>
        </div>
    </section>

    <div class="promo" id="promo">
        <div class="promo__container">
            <a href=`${path}cooking#ovens` class="promo__item">
                <span>Air Fryers & Ovens</span>
            </a>
            <a href=`${path}performance-blending` class="promo__item">
                <span>Performance Blending</span>
            </a>
            <a href=`${path}coffee#brewing` class="promo__item">
                <span>Brewing</span>
            </a>
        </div>
    </div>

    <div class="main-collection">
        <div class="main-collection__container">
            <h2 class="main-collection__mobile-title">Dark Denim Collection</h2>
            <img src=`${path}assets/img/dark-denim-collection.jpg` alt="">
            <div class="main-collection__info">
                <h2 class="main-collection__desktop-title">Dark Denim Collection</h2>
                <p>Discover the elegance of the Dark Denim Collection, where classic design meets modern functionality.
                    Our appliances, from advanced toasters with wide slots to programmable coffee makers, are engineered
                    to enhance your kitchen's efficiency and style.</p>
                <a href=`${path}dark-denim-collection` class="button main-collection__button">See products</a>
            </div>
        </div>
    </div>

    <div class="explore">
        <div class="explore__container">
            <h2>About Electrolux</h2>
            <img class="explore__mobile-image" src=`${path}assets/img/explore-mobile.jpg` width="358" height="360" alt="">
            <p>Electrolux creates sustainable, innovative kitchen appliances enhancing living, boosting efficiency, and
                fostering wellbeing, driving long-term profitability through advanced, smart technology, designed for
                every modern household.</p>
            <a href=`${path}about`>
                <i>EXPLORE THE BRAND</i>
                <img src=`${path}assets/img/ArrowBlue.svg` width="24" height="24" alt="">
            </a>
        </div>
    </div>

    <div class="slider">
        <div class="slider__title-container">
            <p class="slider__suptitle">NEW PRODUCTS</p>
            <h2 class="slider__title">Main Products</h2>
        </div>

        <div class="slider-container">
            <div class="swiper swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href={`${path}EX-SM068`} class="product product--slide">
                            <span class="product__special">NEW</span>
                            <img class="product__image" src=`${path}assets/img/items/EX-SM068.png` alt="Planetary Stand Mixer">
                            <div class="product__info">
                                <h3 class="product__title">Planetary Stand Mixer</h3>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href={`${path}EX-EM209`} class="product product--slide">
                            <span class="product__special">NEW</span>
                            <img class="product__image" src=`${path}assets/img/items/EX-EM209.png` alt="Nesso Espresso Compact Brewer">
                            <div class="product__info">
                                <h3 class="product__title">Nesso Espresso Compact Brewer</h3>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href={`${path}EX-CG126`} class="product product--slide">
                            <span class="product__special">NEW</span>
                            <img class="product__image" src=`${path}assets/img/items/EX-CG126.png` alt="Multi-Use Electric Grill">
                            <div class="product__info">
                                <h3 class="product__title">Multi-Use Electric Grill</h3>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href={`${path}EX-AF268`} class="product product--slide">
                            <span class="product__special">NEW</span>
                            <img class="product__image" src=`${path}assets/img/items/EX-AF268.png`  alt="6 Qt Digital Air Fryer">
                            <div class="product__info">
                                <h3 class="product__title">6 Qt Digital Air Fryer</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>

    <div class="main-contacts">
        <div class="main-contacts__container">
            <p class="main-cotacts__suptitle">CONTACTS</p>
            <h2 class="main-contacts__title">We are here for you</h2>
            <div class="main-contacts__block">
                <div class="main-contacts__info">
                    <p>Find our contacts here</p>
                    <a href=`${path}contacts`>
                        <i>CONTACT US</i>
                        <img src=`${path}assets/img/Arrow.svg` width="24"
                             height="24" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</Layout>
