---
const path = import.meta.env.PUBLIC_URL;
---

<footer class="footer">
    <div class="footer__container">
        <div class="footer__header">
            <a href=`${path}` class="footer__logo-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="144" height="33" fill="#fff">
                    <path d="M.126 33h33.057V0H.126v33ZM21.314 2.52c5.844 1.91 10.066 7.441 10.082 13.972.016 6.427-4.122 11.942-10.082 13.979V2.52Zm-4.665-.747c1.056 0 2.18.14 3.118.327 0 7.475-7.245 13.629-14.72 13.629l-3.127-.005C2.434 8.06 8.787 1.773 16.649 1.773Zm-11.6 15.512c7.475 0 14.715 6.147 14.715 13.615-.934.19-2.115.332-3.115.332-7.867-.011-14.435-6.317-14.731-13.947h3.131ZM44 19.4v-2.08h6.878v-2.651h-6.88v-3.862h7.32V8.163H41.182V19.28c0 2.81 1.2 4.733 4.014 5.128a.71.71 0 0 0 .163.025h.052c.287.032.584.055.891.055h5.211v-2.643h-5.186c-.898 0-2.328-.44-2.328-2.445ZM53.514 15.877v8.615h2.815V8.158h-2.815v7.719ZM64.406 12.309c-3.561 0-6.224 2.448-6.224 6.26v.094c0 3.72 2.57 6.12 6.296 6.12 1.792 0 3.466-.494 5-2.118l-1.697-1.648c-.896.894-1.769 1.363-3.208 1.363-2.097 0-3.489-1.223-3.584-3.107h9.243c.047-.47.047-.989.047-.989 0-3.317-2.335-5.975-5.873-5.975Zm-3.346 4.988c.117-1.436 1.579-2.588 3.348-2.588 1.652 0 2.996 1.177 2.996 2.588H61.06ZM78.194 14.827c1.273 0 2.217.47 3.018 1.293l1.744-1.813c-1.366-1.459-2.995-2.048-4.762-2.048-3.584 0-6.462 2.66-6.462 6.285 0 3.624 2.876 6.284 6.462 6.284 1.769 0 3.396-.589 4.762-2.048l-1.744-1.813c-.801.824-1.745 1.294-3.018 1.294-2.075 0-3.657-1.576-3.657-3.72.003-2.138 1.582-3.714 3.657-3.714ZM87.526 19.404h-.002v-4.169h2.564v-2.554h-2.56v-4.52h-2.816v11.41h.009c.081 2.654 1.29 4.46 4.007 4.842.056.013.11.025.163.025h.052c.287.031.584.054.891.054h.299l.011-2.642h-.285c-.9 0-2.332-.443-2.332-2.446ZM95.25 14.438v-1.757h-2.793v11.811h2.794v-6.21c0-1.945 1.244-3.164 3.192-3.164.446 0 .846.047 1.174.117v-2.719a6.122 6.122 0 0 0-.844-.07c-1.692 0-2.959.775-3.522 1.992ZM106.504 12.331c-3.593 0-6.457 2.717-6.457 6.256 0 3.536 2.864 6.255 6.457 6.255 3.568 0 6.455-2.719 6.455-6.255 0-3.54-2.887-6.256-6.455-6.256Zm0 9.957c-2.088 0-3.66-1.617-3.66-3.701 0-2.087 1.572-3.704 3.66-3.704 2.066 0 3.661 1.617 3.661 3.704 0 2.084-1.595 3.7-3.661 3.7ZM114.692 15.594v8.896h2.819V8.158h-2.819v7.436ZM127.67 19.546c0 1.875-1.104 2.672-2.584 2.672-1.479 0-2.581-.797-2.581-2.647v-6.89h-2.842v7.125c0 3.374 2.464 4.99 5.401 4.99 2.957 0 5.446-1.639 5.446-5.06v-7.054h-2.84v6.864ZM141.168 20.714l-1.776-2.48 2.199-2.99 1.885-2.563h-3.075l-2.559 3.539-2.583-3.539h-3.05l1.749 2.39 2.335 3.186-2.446 3.403-2.039 2.83h3.03l3.004-4.171 3.005 4.17h3.027l-2.706-3.775Z"/>
                </svg>
            </a>
            <a href="#top" class="footer__scroll-top"></a>
        </div>
        <div class="footer__links">
            <div class="footer__links-block">
                <a class="footer__link">Products</a>
                <a href=`${path}cooking` class="footer__link">Cooking</a>
                <a href=`${path}preparation` class="footer__link">Preparation</a>
                <a href=`${path}coffee&tea` class="footer__link">Coffee and Tea</a>
            </div>
            <div class="footer__links-block">
                <a class="footer__link">About</a>
                <a href=`${path}about` class="footer__link">About Electrolux</a>
            </div>
            <div class="footer__links-block">
                <a class="footer__link">Contacts</a>
                <a href=`${path}contacts` class="footer__link">Contact us</a>
            </div>
        </div>
        <div class="footer__footer">
            <div class="footer__footer-links">
                <a href="#">Privacy</a>
                <a href="#">Customer Info</a>
                <a href="#">License</a>
            </div>
            <div class="footer__socials">
                <p>Connect with us</p>
                <div class="footer__socials-list">
                    <a href="#">
                        <img src=`${path}assets/img/fb.png` width="10" height="20" alt="facebook">
                    </a>
                    <a href="#">
                        <img src=`${path}assets/img/instagram.png` width="20" height="20" alt="instagram">
                    </a>
                    <a href="#">
                        <img src=`${path}assets/img/youtube.png` width="20" height="20" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            Electrolux is a registered trademark used under license
            from AB Electrolux (publ). For service assistance and
            product information please call&nbsp;<a href="tel:18772722090">1&nbsp;877&nbsp;272&nbsp;2090</a> or&nbsp;email&nbsp;<a href="mailto:info@cemglobal.com">info@cemglobal.com</a>
        </div>
    </div>
</footer>