---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const path = import.meta.env.PUBLIC_URL;
const { title = "Electrolux" , isMain = true} = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/svg+xml" href=`${path}favicon.svg`/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
	/>
	<meta name="generator" content={Astro.generator}/>
	<title>{title}</title>
	<link rel="stylesheet" href=`${path}index.css`/>
</head>
<body>
<Header isMain={isMain}></Header>
<main class="main">
	<slot></slot>
</main>
<Footer></Footer>
<script is:inline src=`${path}js/menu.js`></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline src=`${path}js/swiper.js`></script>
</body>
</html>